$margin:0px;
$height:100vh;
$joylashtir:flex;
$markaz:center;
$back_color:rgb(36, 133, 243);
$width:60vh;
$balandlik:75vh;
$orqa_fon:rgb(253, 216, 7);
$content:flex-start;
$flex:column;
$eni:20vh;
$soya:0px 12px 13px;
$radius:96px;
$gap:25px;
$orasini_och:18px;
$ora:10px;
$widt:30vh;
$heigh:36vh;
$size:20px;
